* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: black;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
}

main {
    background-color: #323232;
    color: white;
    padding: 30px;
    padding-bottom: 50px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1, nav {
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.subject {
    font-size: 60px;
}

.underline {
    text-decoration: underline dotted;
}

label {
    font-size: large;
}

input[type="text"] {
    margin-top: 5px;
    margin-bottom: 5px;
    border:none;
    font-size: large;
    padding:10px;
    border-radius: 20px;
    width: 300px;
}

input[type="submit"] {
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 20px;
    background-color: #00ff00;
}

input[type="submit"]:hover {
    background-color: #00dd00;
    cursor: pointer;
}

select {
    margin-top: 5px;
    margin-bottom: 5px;
    border:none;
    font-size: large;
    padding:10px;
    border-radius: 20px;
    width: 300px;
}