* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: black;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
}

main {
    background-color: #323232;
    color: white;
    padding: 30px;
    padding-bottom: 50px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid white;
    padding: 10px;
    color: white;
}

td {
    color: #aaaaaa;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, nav {
    display: inline-block;
}

.btn-container {
    float: right;
}

.btn-container a {
    background-color: #00ff00;
    color: black;
    padding: 10px;
    border-radius: 20px;
    transition-duration: 250ms;
}

.btn-container a:hover {
    background-color: #00dd00;
}